<!DOCTYPE generatorConfiguration PUBLIC
  "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
  <properties resource="database.properties"/>

  <context id="postgreSQL" targetRuntime="MyBatis3Simple">

    <property name="javaFileEncoding" value="UTF-8"/>

    <plugin type="com.mybatis.generator.plugin.PersistencePlugin"/>

    <plugin type="com.mybatis.generator.plugin.LombokPlugin">

      <!-- disable annotations -->
      <property name="getter" value="false"/>
      <property name="getter" value="false"/>

      <!-- enable annotations -->
      <property name="data" value="true"/>
      <property name="builder" value="true"/>
      <property name="toString" value="false"/>
      <property name="noArgsConstructor" value="true"/>
      <property name="allArgsConstructor" value="true"/>
    </plugin>

    <commentGenerator>
      <property name="suppressAllComments" value="true"/>
    </commentGenerator>

    <jdbcConnection driverClass="${database.postgresql-driver-class}"
      connectionURL="${database.url}"
      userId="${database.username}"
      password="${database.password}">
    </jdbcConnection>

    <javaTypeResolver>
      <property name="useJSR310Types" value="true"/>
    </javaTypeResolver>

    <javaModelGenerator targetPackage="com.mybatis.generator.model" targetProject="src/main/java"/>

    <!-- <sqlMapGenerator targetPackage="com.mybatis.generator.mapper"
      targetProject="src/main/resources"/>  -->

    <!-- <javaClientGenerator type="XMLMAPPER" targetPackage="com.mybatis.generator.mapper"
    targetProject="src/main/java"/> -->

    <table tableName="book" domainObjectName="Book3"/>
    <table tableName="book_response_entity">
      <columnOverride column="publish_Date" property="test"/>
    </table>
  </context>
</generatorConfiguration>